/*--------------------- IMPORTS ---------------------*/
.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

/*------------------------------------*\
    $CSSWIZARDRY-GRIDS
\*------------------------------------*/
/**
 * CONTENTS
 * INTRODUCTION.........How the grid system works.
 * VARIABLES............Your settings.
 * MIXINS...............Library mixins.
 * GRID SETUP...........Build the grid structure.
 * WIDTHS...............Build our responsive widths around our breakpoints.
 * PUSH.................Push classes.
 * PULL.................Pull classes.
 */
/*------------------------------------*\
    $INTRODUCTION
\*------------------------------------*/
/**
 * csswizardry grids provides you with widths to suit a number of breakpoints
 * designed around devices of a size you specify. Out of the box, csswizardry
 * grids caters to the following types of device:
 *
 * palm     --  palm-based devices, like phones and small tablets
 * lap      --  lap-based devices, like iPads or laptops
 * portable --  all of the above
 * desk     --  stationary devices, like desktop computers
 * regular  --  any/all types of device
 *
 * These namespaces are then used in the library to give you the ability to
 * manipulate your layouts based around them, for example:
 *
   <div class="grid__item  one-whole  lap--one-half  desk--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a lap
 * device, at which point it become 50% wide, or it is on a desktop device, at
 * which point it becomes 33.333% width.
 *
 * csswizardry grids also has push and pull classes which allow you to nudge
 * grid items left and right by a defined amount. These follow the same naming
 * convention as above, but are prepended by either 'push--' or 'pull--', for
 * example:
 *
   'class="grid__item  one-half  push--one-half"'
 *
 * This would give you a grid item which is 50% width and pushed over to the
 * right by 50%.
 *
 * All classes in csswizardry grids follow this patten, so you should fairly
 * quickly be able to piece together any combinations you can imagine, for
 * example:
 *
   'class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"'
 *
   'class="grid__item  one-quarter  palm--one-half  push--palm--one-half"'
 *
   'class="grid__item  palm--one-third  desk--five-twelfths"'
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to 'false':
 */
/**
 * Is this build mobile first? Setting to 'true' means that all grids will be
 * 100% width if you do not apply a more specific class to them.
 */
/**
 * Set the spacing between your grid items.
 */
/**
 * Would you like Sass' silent classes, or regular CSS classes?
 */
/**
 * Would you like push and pull classes enabled?
 */
/**
 * Using 'inline-block' means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 */
/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. '.palm--one-half'), the second value is the media query
 * that the breakpoint fires at.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if '$push' and/or '$pull' and '$responsive'
 * have been set to 'true'.
 */
/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin'!
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in '$breakpoints'.
 */
/**
 * Drop relative positioning into silent classes which can't take advantage of
 * the '[class*="push--"]' and '[class*="pull--"]' selectors.
 */
/*------------------------------------*\
    $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative 'margin-left' to negate the columns' gutters.
 */
.grid {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  margin-left: -24px;
  /* [3] */
  letter-spacing: -0.31em;
}

/* Opera hack */
.opera:-o-prefocus,
.grid {
  word-spacing: -0.43em;
}

/**
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters.
 */
.grid__item {
  display: inline-block;
  /* [1] */
  padding-left: 24px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
  -webkit-box-sizing: border-box;
  /* [5] */
  -moz-box-sizing: border-box;
  /* [5] */
  box-sizing: border-box;
  /* [5] */
  letter-spacing: normal;
  word-spacing: normal;
}

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends '.grid'.
 */
.grid--rev {
  direction: rtl;
  text-align: left;
}
.grid--rev > .grid__item {
  direction: ltr;
  text-align: left;
}

/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends '.grid'.
 */
.grid--full {
  margin-left: 0;
}
.grid--full > .grid__item {
  padding-left: 0;
}

/**
 * Align the entire grid to the right. Extends '.grid'.
 */
.grid--right {
  text-align: right;
}
.grid--right > .grid__item {
  text-align: left;
}

/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends '.grid'.
 */
.grid--center {
  text-align: center;
}
.grid--center > .grid__item {
  text-align: left;
}

/**
 * Align grid cells vertically ('.grid--middle' or '.grid--bottom'). Extends
 * '.grid'.
 */
.grid--middle > .grid__item {
  vertical-align: middle;
}

.grid--bottom > .grid__item {
  vertical-align: bottom;
}

/**
 * Create grids with narrower gutters. Extends '.grid'.
 */
.grid--narrow {
  margin-left: -12px;
}
.grid--narrow > .grid__item {
  padding-left: 12px;
}

/**
 * Create grids with wider gutters. Extends '.grid'.
 */
.grid--wide {
  margin-left: -48px;
}
.grid--wide > .grid__item {
  padding-left: 48px;
}

/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
 * Our regular, non-responsive width classes.
 */
/**
 * Whole
 */
.one-whole {
  width: 100%;
}

/**
 * Halves
 */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%;
}

/**
 * Thirds
 */
.one-third, .two-sixths, .four-twelfths {
  width: 33.333%;
}

.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%;
}

/**
 * Quarters
 */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%;
}

.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%;
}

/**
 * Fifths
 */
.one-fifth, .two-tenths {
  width: 20%;
}

.two-fifths, .four-tenths {
  width: 40%;
}

.three-fifths, .six-tenths {
  width: 60%;
}

.four-fifths, .eight-tenths {
  width: 80%;
}

/**
 * Sixths
 */
.one-sixth, .two-twelfths {
  width: 16.666%;
}

.five-sixths, .ten-twelfths {
  width: 83.333%;
}

/**
 * Eighths
 */
.one-eighth {
  width: 12.5%;
}

.three-eighths {
  width: 37.5%;
}

.five-eighths {
  width: 62.5%;
}

.seven-eighths {
  width: 87.5%;
}

/**
 * Tenths
 */
.one-tenth {
  width: 10%;
}

.three-tenths {
  width: 30%;
}

.seven-tenths {
  width: 70%;
}

.nine-tenths {
  width: 90%;
}

/**
 * Twelfths
 */
.one-twelfth {
  width: 8.333%;
}

.five-twelfths {
  width: 41.666%;
}

.seven-twelfths {
  width: 58.333%;
}

.eleven-twelfths {
  width: 91.666%;
}

/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (max-width: 480px) {
  /**
   * Whole
   */
  .small--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .small--one-half, .small--two-quarters, .small--three-sixths, .small--four-eighths, .small--five-tenths, .small--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .small--one-third, .small--two-sixths, .small--four-twelfths {
    width: 33.333%;
  }

  .small--two-thirds, .small--four-sixths, .small--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .small--one-quarter, .small--two-eighths, .small--three-twelfths {
    width: 25%;
  }

  .small--three-quarters, .small--six-eighths, .small--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .small--one-fifth, .small--two-tenths {
    width: 20%;
  }

  .small--two-fifths, .small--four-tenths {
    width: 40%;
  }

  .small--three-fifths, .small--six-tenths {
    width: 60%;
  }

  .small--four-fifths, .small--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .small--one-sixth, .small--two-twelfths {
    width: 16.666%;
  }

  .small--five-sixths, .small--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .small--one-eighth {
    width: 12.5%;
  }

  .small--three-eighths {
    width: 37.5%;
  }

  .small--five-eighths {
    width: 62.5%;
  }

  .small--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .small--one-tenth {
    width: 10%;
  }

  .small--three-tenths {
    width: 30%;
  }

  .small--seven-tenths {
    width: 70%;
  }

  .small--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .small--one-twelfth {
    width: 8.333%;
  }

  .small--five-twelfths {
    width: 41.666%;
  }

  .small--seven-twelfths {
    width: 58.333%;
  }

  .small--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  /**
   * Whole
   */
  .medium--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .medium--one-half, .medium--two-quarters, .medium--three-sixths, .medium--four-eighths, .medium--five-tenths, .medium--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .medium--one-third, .medium--two-sixths, .medium--four-twelfths {
    width: 33.333%;
  }

  .medium--two-thirds, .medium--four-sixths, .medium--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .medium--one-quarter, .medium--two-eighths, .medium--three-twelfths {
    width: 25%;
  }

  .medium--three-quarters, .medium--six-eighths, .medium--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .medium--one-fifth, .medium--two-tenths {
    width: 20%;
  }

  .medium--two-fifths, .medium--four-tenths {
    width: 40%;
  }

  .medium--three-fifths, .medium--six-tenths {
    width: 60%;
  }

  .medium--four-fifths, .medium--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .medium--one-sixth, .medium--two-twelfths {
    width: 16.666%;
  }

  .medium--five-sixths, .medium--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .medium--one-eighth {
    width: 12.5%;
  }

  .medium--three-eighths {
    width: 37.5%;
  }

  .medium--five-eighths {
    width: 62.5%;
  }

  .medium--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .medium--one-tenth {
    width: 10%;
  }

  .medium--three-tenths {
    width: 30%;
  }

  .medium--seven-tenths {
    width: 70%;
  }

  .medium--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .medium--one-twelfth {
    width: 8.333%;
  }

  .medium--five-twelfths {
    width: 41.666%;
  }

  .medium--seven-twelfths {
    width: 58.333%;
  }

  .medium--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (max-width: 1023px) {
  /**
   * Whole
   */
  .medium-down--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .medium-down--one-half, .medium-down--two-quarters, .medium-down--three-sixths, .medium-down--four-eighths, .medium-down--five-tenths, .medium-down--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .medium-down--one-third, .medium-down--two-sixths, .medium-down--four-twelfths {
    width: 33.333%;
  }

  .medium-down--two-thirds, .medium-down--four-sixths, .medium-down--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .medium-down--one-quarter, .medium-down--two-eighths, .medium-down--three-twelfths {
    width: 25%;
  }

  .medium-down--three-quarters, .medium-down--six-eighths, .medium-down--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .medium-down--one-fifth, .medium-down--two-tenths {
    width: 20%;
  }

  .medium-down--two-fifths, .medium-down--four-tenths {
    width: 40%;
  }

  .medium-down--three-fifths, .medium-down--six-tenths {
    width: 60%;
  }

  .medium-down--four-fifths, .medium-down--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .medium-down--one-sixth, .medium-down--two-twelfths {
    width: 16.666%;
  }

  .medium-down--five-sixths, .medium-down--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .medium-down--one-eighth {
    width: 12.5%;
  }

  .medium-down--three-eighths {
    width: 37.5%;
  }

  .medium-down--five-eighths {
    width: 62.5%;
  }

  .medium-down--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .medium-down--one-tenth {
    width: 10%;
  }

  .medium-down--three-tenths {
    width: 30%;
  }

  .medium-down--seven-tenths {
    width: 70%;
  }

  .medium-down--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .medium-down--one-twelfth {
    width: 8.333%;
  }

  .medium-down--five-twelfths {
    width: 41.666%;
  }

  .medium-down--seven-twelfths {
    width: 58.333%;
  }

  .medium-down--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 1024px) {
  /**
   * Whole
   */
  .large--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .large--one-half, .large--two-quarters, .large--three-sixths, .large--four-eighths, .large--five-tenths, .large--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .large--one-third, .large--two-sixths, .large--four-twelfths {
    width: 33.333%;
  }

  .large--two-thirds, .large--four-sixths, .large--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .large--one-quarter, .large--two-eighths, .large--three-twelfths {
    width: 25%;
  }

  .large--three-quarters, .large--six-eighths, .large--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .large--one-fifth, .large--two-tenths {
    width: 20%;
  }

  .large--two-fifths, .large--four-tenths {
    width: 40%;
  }

  .large--three-fifths, .large--six-tenths {
    width: 60%;
  }

  .large--four-fifths, .large--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .large--one-sixth, .large--two-twelfths {
    width: 16.666%;
  }

  .large--five-sixths, .large--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .large--one-eighth {
    width: 12.5%;
  }

  .large--three-eighths {
    width: 37.5%;
  }

  .large--five-eighths {
    width: 62.5%;
  }

  .large--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .large--one-tenth {
    width: 10%;
  }

  .large--three-tenths {
    width: 30%;
  }

  .large--seven-tenths {
    width: 70%;
  }

  .large--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .large--one-twelfth {
    width: 8.333%;
  }

  .large--five-twelfths {
    width: 41.666%;
  }

  .large--seven-twelfths {
    width: 58.333%;
  }

  .large--eleven-twelfths {
    width: 91.666%;
  }
}
/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
/*------------------------------------*\
    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items back to the left by certain amounts.
 */
@media only screen and (max-width: 1023px) {
  .medium-down--hide {
    display: none;
  }
}
html,
body {
  margin: 0;
  padding: 0;
}

/*--------------------- GLOBAL ---------------------*/
body, html {
  height: 100%;
}

body {
  background-color: #29354d;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
@media only screen and (min-width: 769px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

a {
  color: #4099ff;
  transition: ease-in 0.2s;
}
a:hover {
  color: #a6cfff;
}

h1, h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2em;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
}

.center {
  text-align: center;
}

.logo:hover {
  opacity: 0.85;
}

/*--------------------- CONTAINERS ---------------------*/
.cwrapper {
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .cwrapper {
    max-width: 980px;
    margin: 0px auto;
  }
}

.content {
  background: white;
  margin: 30px 0px;
  padding: 0px 25px 25px;
  border-radius: 3px;
}

.item-section {
  min-height: 300px;
  margin-top: 20px;
}
@media only screen and (min-width: 769px) {
  .item-section {
    min-height: 360px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1400px) {
  .item-section {
    min-height: 480px;
  }
}

.wrapper {
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .wrapper {
    max-width: 1400px;
    margin: 0px auto;
  }
}

.small-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0px auto;
}

.details {
  width: 100%;
  max-width: 580px;
  margin: 30px auto 0;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.25);
}
.details p {
  text-align: left;
  padding: 0 10px;
  color: white;
}
.details input {
  width: 90%;
  padding: 10px 0;
}

/*--------------------- ALERTS ---------------------*/
.version {
  font-size: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  vertical-align: middle;
  padding-left: 15px;
}

.note {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  color: white;
  width: 81%;
  margin: 20px auto;
  font-size: 16px;
  padding: 8px 10px;
}
@media only screen and (max-width: 768px) {
  .note {
    font-size: 11px;
  }
}
.note i {
  padding-right: 15px;
  font-size: 20px;
  vertical-align: middle;
}
.note a {
  color: white;
}
.note a:hover {
  opacity: 0.7;
}

/*--------------------- NAVIGATION ---------------------*/
header {
  background: rgba(0, 0, 0, 0.35);
  padding: 15px 0px;
}

header a {
  text-decoration: none;
}

header h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
@media only screen and (min-width: 769px) {
  header h1 {
    text-align: left;
  }
}

nav {
  max-width: 1000px;
  margin: 0px auto;
  width: 100%;
}

.loot {
  font-weight: 400;
  text-decoration: none;
  color: white;
}

.junkie {
  font-weight: bold;
  text-decoration: none;
  color: #f99e1a;
}

.nav {
  text-transform: uppercase;
}
.nav ul {
  float: right;
  list-style: none;
}
.nav li {
  display: inline;
}
.nav li a {
  color: white;
  padding: 0px 12px;
  text-decoration: none;
  font-weight: 600;
  float: left;
  line-height: 8px;
}
.nav a:hover {
  color: gray;
}
.nav li a.donate {
  color: #f99e1a;
}
.nav li a.donate:hover {
  color: #a96604;
}

/*--------------------- BUTTONS ---------------------*/
.btn {
  padding: 10px 0px;
  width: 100%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin: 0px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
  transition: 0.2s ease all;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:hover {
  color: white;
}
@media only screen and (min-width: 481px) {
  .btn {
    padding: 10px 50px;
    width: auto;
    margin: 0px 10px;
    border-radius: 3px;
  }
}

.fa {
  font-size: 0.7em;
  vertical-align: middle;
}

.blue {
  background: #4099ff;
}

.blue:hover {
  -webkit-box-shadow: 0px 0px 33px 0px rgba(0, 95, 255, 0.75);
  -moz-box-shadow: 0px 0px 33px 0px rgba(0, 95, 255, 0.75);
  box-shadow: 0px 0px 33px 0px rgba(0, 95, 255, 0.75);
  transition: ease-in-out all infinite 1.5s;
}

.blue:active {
  -webkit-box-shadow: 0px 0px 130px 20px rgba(0, 95, 255, 0.75);
  -moz-box-shadow: 0px 0px 130px 20px rgba(0, 95, 255, 0.75);
  box-shadow: 0px 0px 130px 20px rgba(0, 95, 255, 0.75);
  transition: ease-in-out all infinite 1.5s;
}

.yellow {
  background: #f99e1a;
}

.yellow:hover {
  -webkit-box-shadow: 0px 0px 33px 0px rgba(249, 158, 26, 0.75);
  -moz-box-shadow: 0px 0px 33px 0px rgba(249, 158, 26, 0.75);
  box-shadow: 0px 0px 33px 0px rgba(255, 158, 26, 0.75);
  transition: ease-in-out all infinite 1.5s;
}

.yellow:active {
  background: #fdddaf;
  -webkit-box-shadow: 0px 0px 230px 20px rgba(249, 158, 26, 0.75);
  -moz-box-shadow: 0px 0px 230px 20px rgba(249, 158, 26, 0.75);
  box-shadow: 0px 0px 230px 20px #ffff37;
}

/*--------------------- LOOT BOX ---------------------*/
#box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px;
}
@media only screen and (min-width: 769px) {
  #box {
    padding-top: 55px;
  }
}
@media only screen and (min-width: 1400px) {
  #box {
    padding-top: 90px;
  }
}

.shakebox {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
/*--------------------- LOOT CARDS ---------------------*/
#crate {
  list-style: none;
  padding: 0px;
  margin: 0px 5px;
}
@media only screen and (min-width: 769px) {
  #crate {
    margin: 0px;
  }
}
#crate li {
  float: left;
  border-radius: 7px;
  font-size: 12px;
  width: 100%;
  padding: 20px 10px;
  margin: 3px 0px;
}
@media only screen and (min-width: 769px) {
  #crate li {
    padding: 125px 0px 125px 0px;
    margin: 1%;
    text-align: center;
    max-width: 23%;
    font-size: 13px;
  }
  #crate li span {
    padding: 30px 0;
  }
}
@media only screen and (min-width: 1400px) {
  #crate li {
    padding: 185px 0px 185px 0px;
  }
}

#item0 {
  -webkit-animation-delay: 0.1s;
  /* Chrome, Safari, Opera */
  animation-delay: 0.1s;
}

#item1 {
  -webkit-animation-delay: 0.2s;
  /* Chrome, Safari, Opera */
  animation-delay: 0.2s;
}

#item2 {
  -webkit-animation-delay: 0.4s;
  /* Chrome, Safari, Opera */
  animation-delay: 0.4s;
}

#item3 {
  -webkit-animation-delay: 0.6s;
  /* Chrome, Safari, Opera */
  animation-delay: 0.6s;
}

.normal {
  font-weight: bold;
  color: #333;
  border: 1px solid #bbb;
  background-color: white;
  box-sizing: border-box;
}
@media only screen and (min-width: 769px) {
  .normal span {
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.rare {
  font-weight: bold;
  color: white;
  border: 1px solid #0070ff;
  background-color: #0070ff;
  box-sizing: border-box;
}
@media only screen and (min-width: 769px) {
  .rare span {
    display: block;
    background-color: rgba(0, 112, 255, 0.8);
  }
}

.epic {
  font-weight: bold;
  color: white;
  border: 1px solid #B048F8;
  background-color: #B048F8;
  box-sizing: border-box;
}
@media only screen and (min-width: 769px) {
  .epic span {
    display: block;
    background-color: rgba(176, 72, 248, 0.8);
  }
}

.legendary {
  font-weight: bold;
  color: white;
  border: 1px solid #ff8000;
  background-color: #ff8000;
  box-sizing: border-box;
}
@media only screen and (min-width: 769px) {
  .legendary span {
    display: block;
    background-color: rgba(255, 128, 0, 0.8);
  }
}

/*--------------------- HEROES ---------------------*/
.generic {
  background-image: url(../images/generic.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .generic {
    background-size: cover;
    background-position: center;
    background-image: url(../images/overwatch-full.jpg);
  }
}

.orisa {
  background-image: url(../images/orisa.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .orisa {
    background-size: cover;
    background-position: center;
    background-image: url(../images/orisa-full.jpg);
  }
}

.sombra {
  background-image: url(../images/sombra.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .sombra {
    background-size: cover;
    background-position: center;
    background-image: url(../images/sombra-full.jpg);
  }
}

.ana {
  background-image: url(../images/ana.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .ana {
    background-size: cover;
    background-position: center;
    background-image: url(../images/ana-full.jpg);
  }
}

.bastion {
  background-image: url(../images/bastion.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .bastion {
    background-size: cover;
    background-position: center;
    background-image: url(../images/bastion-full.jpg);
  }
}

.dva {
  background-image: url(../images/dva.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .dva {
    background-size: cover;
    background-position: center;
    background-image: url(../images/dva-full.jpg);
  }
}

.genji {
  background-image: url(../images/genji.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .genji {
    background-size: cover;
    background-position: center;
    background-image: url(../images/genji-full.jpg);
  }
}

.hanzo {
  background-image: url(../images/hanzo.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .hanzo {
    background-size: cover;
    background-position: center;
    background-image: url(../images/hanzo-full.jpg);
  }
}

.junkrat {
  background-image: url(../images/junkrat.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .junkrat {
    background-size: cover;
    background-position: center;
    background-image: url(../images/junkrat-full.jpg);
  }
}

.lucio {
  background-image: url(../images/lucio.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .lucio {
    background-size: cover;
    background-position: center;
    background-image: url(../images/lucio-full.jpg);
  }
}

.mccree {
  background-image: url(../images/mccree.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .mccree {
    background-size: cover;
    background-position: center;
    background-image: url(../images/mccree-full.jpg);
  }
}

.mei {
  background-image: url(../images/mei.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .mei {
    background-size: cover;
    background-position: center;
    background-image: url(../images/mei-full.jpg);
  }
}

.mercy {
  background-image: url(../images/mercy.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .mercy {
    background-size: cover;
    background-position: center;
    background-image: url(../images/mercy-full.jpg);
  }
}

.pharah {
  background-image: url(../images/pharah.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .pharah {
    background-size: cover;
    background-position: center;
    background-image: url(../images/pharah-full.jpg);
  }
}

.reaper {
  background-image: url(../images/reaper.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .reaper {
    background-size: cover;
    background-position: center;
    background-image: url(../images/reaper-full.jpg);
  }
}

.reinhardt {
  background-image: url(../images/reinhardt.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .reinhardt {
    background-size: cover;
    background-position: center;
    background-image: url(../images/reinhardt-full.jpg);
  }
}

.roadhog {
  background-image: url(../images/roadhog.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .roadhog {
    background-size: cover;
    background-position: center;
    background-image: url(../images/roadhog-full.jpg);
  }
}

.soldier {
  background-image: url(../images/soldier.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .soldier {
    background-size: cover;
    background-position: center;
    background-image: url(../images/soldier-full.jpg);
  }
}

.symmetra {
  background-image: url(../images/symmetra.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .symmetra {
    background-size: cover;
    background-position: center;
    background-image: url(../images/symmetra-full.jpg);
  }
}

.torbjorn {
  background-image: url(../images/torbjorn.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .torbjorn {
    background-size: cover;
    background-position: center;
    background-image: url(../images/torbjorn-full.jpg);
  }
}

.tracer {
  background-image: url(../images/tracer.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .tracer {
    background-size: cover;
    background-position: center;
    background-image: url(../images/tracer-full.jpg);
  }
}

.widowmaker {
  background-image: url(../images/widowmaker.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .widowmaker {
    background-size: cover;
    background-position: center;
    background-image: url(../images/widowmaker-full.jpg);
  }
}

.winston {
  background-image: url(../images/winston.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .winston {
    background-size: cover;
    background-position: center;
    background-image: url(../images/winston-full.jpg);
  }
}

.zarya {
  background-image: url(../images/zarya.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .zarya {
    background-size: cover;
    background-position: center;
    background-image: url(../images/zarya-full.jpg);
  }
}

.zenyatta {
  background-image: url(../images/zenyatta.png);
  background-repeat: no-repeat;
}
@media only screen and (min-width: 769px) {
  .zenyatta {
    background-size: cover;
    background-position: center;
    background-image: url(../images/zenyatta-full.jpg);
  }
}

@media only screen and (max-width: 768px) {
  .generic, .bastion, .dva, .genji, .hanzo, .junkrat, .lucio, .mccree, .mei, .mercy, .pharah, .reaper, .reinhardt, .roadhog, .soldier, .symmetra, .torbjorn, .tracer, .widowmaker, .winston, .zarya, .zenyatta {
    background-size: 30%;
    background-position: 98% 35%;
  }
}
