/*--------------------- Loot box ---------------------*/

#box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px;
  padding-top: 40px;
  @media only screen and (min-width: 769px) {
    padding-top: 55px;
  }

  @media only screen and (min-width: 1400px) {
    padding-top: 90px;
  }

}

.shakebox {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*--------------------- Item cards ---------------------*/

#crate {
  list-style: none;
  padding: 0px;
  margin: 0px 5px;

  @include at-query($min, $medium) {
    margin: 0px;
  }

  li {

    float: left;
    width: 100%;
    margin: 3px 0px;
    text-transform: capitalize;
    color: white;
    &.common {
      color: #222;
    }
    span p {
      padding: 5px 15px;
    }

    @include at-query($min, $large) {
      height: 460px;
      width: 23%;
      margin: 0px 1%;
      text-align: center;
      span p{
        padding: 15px 5px;
      }
    }
  }
}

.crate-0 { -webkit-animation-delay: 0.1s; animation-delay: 0.1s; }
.crate-1 { -webkit-animation-delay: 0.2s; animation-delay: 0.2s; }
.crate-2 { -webkit-animation-delay: 0.4s; animation-delay: 0.4s; }
.crate-3 { -webkit-animation-delay: 0.6s; animation-delay: 0.6s; }

.common {
  background-color: white;
  box-sizing: border-box;
  @include at-query($min, $large) {
    p {
      border-top: 1px solid #fff;
      border-bottom: 1px solid darken(#fff, 20%);
      background-color: rgba(255,255,255,0.8);
   }
  }
}

.rare {
  background-color: #0070ff;
  box-sizing: border-box;
  @include at-query($min, $large) {
    p {
      border-top: 1px solid #0070ff;
      border-bottom: 1px solid darken(#0070ff, 20%);
      background-color: rgba(0,112,255,0.8);
    }
  }
}
.epic {
  background-color: #B048F8;
  box-sizing: border-box;
  @include at-query($min, $large) {
    p {
      border-top: 1px solid #B048F8;
      border-bottom: 1px solid darken(#B048F8, 20%);
      background-color: rgba(176,72,248,0.8);
    }
  }
}
.legendary {
  background-color: #ff8000;
  box-sizing: border-box;
  @include at-query($min, $large) {
    p {
      border-top: 1px solid #ff8000;
      border-bottom: 1px solid darken(#ff8000, 20%);
      background-color: rgba(255,128,0,0.8);
    }
  }
}

/*--------------------- Heroes ---------------------*/

#crate span {
  background-repeat: no-repeat;
  background-position: 95% 3%;
  &.WINTER_WONDERLAND_2016 {
    background-image: url(../images/overlay/winter.png);
  }

  &.SUMMER_GAMES {
    background-image: url(../images/overlay/summer.png);
  }

  &.HALLOWEEN {
    background-image: url(../images/overlay/halloween.png);
  }

  &.YEAR_OF_THE_ROOSTER_2017 {
    background-image: url(../images/overlay/rooster.png);
  }

  &.ANNIVERSARY_2017 {
    background-image: url(../images/overlay/anniversary.png);
  }

  &.UPRISING_2017 {
    background-image: url(../images/overlay/uprising.png);
  }
}

#crate li {
  background-image: url(../images/mobile/generic.png);;
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/overwatch-full.jpg);
  }
 }

 #crate li.doomfist {
  background-image: url(../images/mobile/doomfist.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/doomfist-full.jpg);
  }
}

#crate li.orisa {
  background-image: url(../images/mobile/orisa.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/orisa-full.jpg);
  }
}

 #crate li.sombra {
  background-image: url(../images/mobile/sombra.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/sombra-full.jpg);
  }
}

#crate li.ana {
  background-image: url(../images/mobile/ana.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/ana-full.jpg);
  }
}

#crate li.bastion {
  background-image: url(../images/mobile/bastion.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/bastion-full.jpg);
  }
}

#crate li.dva {
  background-image: url(../images/mobile/dva.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/dva-full.jpg);
  }
}

#crate li.genji {
  background-image: url(../images/mobile/genji.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/genji-full.jpg);
  }
}

#crate li.hanzo {
  background-image: url(../images/mobile/hanzo.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/hanzo-full.jpg);
  }
}

#crate li.junkrat {
  background-image: url(../images/mobile/junkrat.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/junkrat-full.jpg);
  }
}

#crate li.lucio {
  background-image: url(../images/mobile/lucio.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/lucio-full.jpg);
  }
}

#crate li.mccree {
  background-image: url(../images/mobile/mccree.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/mccree-full.jpg);
  }
}

#crate li.mei {
  background-image: url(../images/mobile/mei.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/mei-full.jpg);
  }
}

#crate li.mercy {
  background-image: url(../images/mobile/mercy.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/mercy-full.jpg);
  }
}

#crate li.pharah {
  background-image: url(../images/mobile/pharah.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/pharah-full.jpg);
  }
}

#crate li.reaper {
  background-image: url(../images/mobile/reaper.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/reaper-full.jpg);
  }
}

#crate li.reinhardt {
  background-image: url(../images/mobile/reinhardt.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/reinhardt-full.jpg);
  }
}

#crate li.roadhog {
  background-image: url(../images/mobile/roadhog.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/roadhog-full.jpg);
  }
}

#crate li.soldier {
  background-image: url(../images/mobile/soldier.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/soldier-full.jpg);
  }
}

#crate li.symmetra {
  background-image: url(../images/mobile/symmetra.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/symmetra-full.jpg);
  }
}

#crate li.torbjorn {
  background-image: url(../images/mobile/torbjorn.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/torbjorn-full.jpg);
  }
}

#crate li.tracer {
  background-image: url(../images/mobile/tracer.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/tracer-full.jpg);
  }
}

#crate li.widowmaker {
  background-image: url(../images/mobile/widowmaker.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/widowmaker-full.jpg);
  }
}

#crate li.winston {
  background-image: url(../images/mobile/winston.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/winston-full.jpg);
  }
}

#crate li.zarya {
  background-image: url(../images/mobile/zarya.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/zarya-full.jpg);
  }
}

#crate li.zenyatta {
  background-image: url(../images/mobile/zenyatta.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/zenyatta-full.jpg);
  }
}

@media only screen and (max-width: 768px) {
  .common, .orisa, .ana, .doomfist, .sombra, .bastion, .dva, .genji, .hanzo, .junkrat, .lucio, .mccree, .mei, .mercy, .pharah, .reaper, .reinhardt, .roadhog, .soldier, .symmetra, .torbjorn, .tracer, .widowmaker, .winston, .zarya, .zenyatta {
    background-size: 10%;
  }
}

@media only screen and (max-width: 500px) {
  .common, .orisa, .ana, .doomfist, .sombra, .bastion, .dva, .genji, .hanzo, .junkrat, .lucio, .mccree, .mei, .mercy, .pharah, .reaper, .reinhardt, .roadhog, .soldier, .symmetra, .torbjorn, .tracer, .widowmaker, .winston, .zarya, .zenyatta {
    background-size: 25%;
  }
}

