/*--------------------- IMPORTS ---------------------*/

@import 'variables';
@import 'snippets';
@import 'grids';
@import 'reset';

/*--------------------- GLOBAL ---------------------*/

body, html {
  height: 100%;
}

body {
  background-color: #e3e3e3;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: 400;
  @media only screen and (min-width: 769px) {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

a {
  color: $blue;
  transition: ease-in 0.2s;
  &:hover {
    color: lighten($blue ,20%);
  }
}

h1, h2 {
  font-family: $header-stack;
  font-size: 2em;
}

h3 {
  font-family: $header-stack;
  font-size: 1.5em;
}

.center {
  text-align: center;
}

.logo {
  display: inline-block;
  &:hover {
    opacity: 0.85;
  }

  img {
    max-width: 200px;
    display: inline-block;
  }

  @media only screen and (max-width: 769px) {
    text-align: center;
    display: block;
  }
}

.sponsored {
  margin-top: 15px;
  img {
    max-width: 100%;
    border-radius: 3px;
  }
}

.dark {
  background-color: #212121;
}

.navbtn {
  width: 100%;
  display: block;
  transition: ease all 0.3s;
  &:hover {
    opacity: 0.8;
  }
}

/*--------------------- CONTAINERS ---------------------*/

#itemlog.in-use {
  margin: 30px 0 10px;
  text-align: left;
  color: white;
  position: relative;
  background-color: rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 10px 30px 10px;
  .rare-inv {
    color: #0070ff;
  }
  .epic-inv {
    color: #B048F8;
  }
  .lgnd-inv {
    color: #ff8000
  }

  &:after {
    position: absolute;
    top: -20px;
    right: 50%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent rgba(0,0,0,0.2) transparent;
    @media only screen and (min-width: 769px) {
      right: 20%;
    }
  }
}

.stats{
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  color: black;
  p{
    padding-left: 0px;
    font-size: 11px;
    opacity: 0.5;
  }
}

.cwrapper {
  width: 100%;

  @media only screen and (min-width: 1200px) {
  max-width: 980px;
  margin: 0px auto;
  }
}
.content {
  background: #efefef;
  margin: 30px 0px;
  padding: 0px 25px 25px;
  border-radius: 3px;
  .content-wrap{
    padding: 5px 15px;
  }
}

.item-section {
  min-height: 300px;
  margin-top: 20px;

  @media only screen and (min-width: 769px) {
    min-height: 360px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media only screen and (min-width: 1400px) {
    min-height: 480px
  }
}

.wrapper {
  width: 100%;

  @media only screen and (min-width: 769px) {
    max-width: 1250px;
    margin: 0px auto;
  }

  @media only screen and (min-width: 1367px) {
    max-width: 1400px;
    margin: 0px auto;
  }
}

.small-wrapper {
  width: 100%;
  max-width: 710px;
  margin: 0px auto;
  .btn {
    float: left;
    margin: 0px 20px 5px 0px;
    &:last-child {
      float: right;
      margin: 0px 0px 5px 20px;
    }
  }
}

.details {
  width: 100%;
  max-width: 580px;
  margin: 30px auto 0;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.25);
  p{
    text-align: left;
    padding: 0 10px;
    color: white;
  }
  input {
    width: 90%;
    padding: 10px 0;
  }
}

.grid--full > .grid__item.mobile-wrap {
  @media only screen and (max-width: 768px) {
    padding: 0px 5px;
  }
}

/*--------------------- ALERTS ---------------------*/

.alert {
  background-color:$blue;
  width: 100%;
  padding: 10px 0;
  color: white;
  font-weight: bold;
  text-align: center;
  position: relative;
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  p {
    margin: 0 30px;
    a, a:visited, a:hover {
        color: white;
    }
  }
}

.version {
  font-size: 9px;
  color: rgba(255,255,255,0.6);
  font-weight: 300;
  vertical-align: middle;
  padding-left: 15px;
}

.note {
  background-color: rgba(0,0,0,0.3);
  border-radius: 3px;
  color: white;
  margin: 20px auto;
  font-size: 16px;
  padding: 8px 10px;

  @media only screen and (max-width: 768px) {
    font-size: 11px;
  }

  i {
    padding-right: 15px;
    font-size: 20px;
    vertical-align: middle;
  }

  a {
    color: white;
    &:hover {
      opacity: 0.7;
    }
  }
}

/*--------------------- NAVIGATION ---------------------*/

header {background: #212121;padding: 10px 0px;}
header a {text-decoration: none;}
header h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin: 0;

  @media only screen and (min-width: 769px) {
  text-align: left;
  }
}
nav {
  max-width: 1000px;
  margin: 0px auto;
  width: 100%;
}

.nav {
  padding-top: 5px;
  text-transform: uppercase;
  ul {float: right; list-style: none;}
  li {display: inline;}
  li a {
    color: white;
    padding: 0px 12px;
    text-decoration: none;
    font-weight: 600;
    float: left;
    line-height: 8px;
  }
  a:hover {
    color: darken(white, 50%);
  }
  li a.donate{
    color: $yellow;
    &:hover{
      color: darken($yellow, 20%);
    }
  }
}

.mobile {
  display: none;
  @media only screen and (max-width: 768px) {
    display: block;
  }
}

.mobile-nav {
  display: none;
  list-style: none;
  margin-left: 0;
  @media only screen and (max-width: 768px) {
    display: block;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    li {
      display: inline-block;
      text-align: center;
      padding: 0px 15px;
      a{
        color: #222;
        opacity: 0.3;
        &:hover {
          opacity: 0.15;
        }
      }
    }
  }
}

/*--------------------- BUTTONS ---------------------*/

.btn {
  padding: 10px 0px;
  width: 100%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin: 0px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
  transition: 0.2s ease all;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    color: white;
  }

  @media only screen and (min-width: 481px) {
    padding: 10px 75px;
    width: auto;
    margin: 0px 10px;
    border-radius: 3px;
  }
}

.fa {
    font-size: 0.7em;
    vertical-align: middle;
}

.blue {
  background: $blue;
}

.blue:hover {
  -webkit-box-shadow: 0px 0px 33px 0px rgba(0, 95, 255, 0.75);
  -moz-box-shadow: 0px 0px 33px 0px rgba(0, 95, 255, 0.75);
  box-shadow: 0px 0px 33px 0px rgba(0, 95, 255, 0.75);
  transition: ease-in-out all infinite 1.5s;
}

.blue:active {
  -webkit-box-shadow: 0px 0px 130px 20px rgba(0, 95, 255, 0.75);
  -moz-box-shadow: 0px 0px 130px 20px rgba(0, 95, 255, 0.75);
  box-shadow: 0px 0px 130px 20px rgba(0, 95, 255, 0.75);
  transition: ease-in-out all infinite 1.5s;
}

.yellow {
  background: $yellow;
}

.yellow:hover {
  -webkit-box-shadow: 0px 0px 33px 0px rgba(249, 158, 26, 0.75);
  -moz-box-shadow: 0px 0px 33px 0px rgba(249, 158, 26, 0.75);
  box-shadow: 0px 0px 33px 0px rgba(255, 158, 26, 0.75);
  transition: ease-in-out all infinite 1.5s;
}
.yellow:active {
  background: lighten($yellow, 30%);
  -webkit-box-shadow: 0px 0px 230px 20px rgba(249, 158, 26, 0.75);
  -moz-box-shadow: 0px 0px 230px 20px rgba(249, 158, 26, 0.75);
  box-shadow: 0px 0px 230px 20px rgba(255, 255, 55, 1);
}


/*--------------------- LOOT BOX ---------------------*/

#box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px;
  @media only screen and (min-width: 769px) {
    padding-top: 55px;
  }

  @media only screen and (min-width: 1400px) {
    padding-top: 90px;
  }

}

.shakebox {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*--------------------- LOOT CARDS ---------------------*/

#crate {
  list-style: none;
  padding: 0px;
  margin: 0px 5px;

  @media only screen and (min-width: 769px) {
    margin: 0px;
  }

  li {
    float: left;
    font-size: 12px;
    width: 100%;
    padding: 20px 10px;
    margin: 3px 0px;

    @media only screen and (min-width: 769px) {
      padding: 125px 0px 125px 0px;
      margin: 1%;
      text-align: center;
      max-width: 23%;
      font-size: 13px;
      border-radius: 7px;

      span {
        padding: 30px 0;
      }
    }

    @media only screen and (min-width: 1400px) {
      padding: 185px 0px 185px 0px;
    }
  }
}

#item0 {
  -webkit-animation-delay: 0.1s; /* Chrome, Safari, Opera */
  animation-delay: 0.1s;
}

#item1 {
  -webkit-animation-delay: 0.2s; /* Chrome, Safari, Opera */
  animation-delay: 0.2s;
}

#item2 {
  -webkit-animation-delay: 0.4s; /* Chrome, Safari, Opera */
  animation-delay: 0.4s;
}

#item3 {
  -webkit-animation-delay: 0.6s; /* Chrome, Safari, Opera */
  animation-delay: 0.6s;
}

.normal {
  font-weight: bold;
  color: #333;
  //border: 1px solid #bbb;
  background-color: white;
  box-sizing: border-box;
  @media only screen and (min-width: 769px) {
    span {
      display: block;
      background-color: rgba(255,255,255,0.8);
    }
  }
}
.rare {
  font-weight: bold;
  color: white;
  background-color: #0070ff;
  //border: 1px solid #0070ff;
  box-sizing: border-box;
  @media only screen and (min-width: 769px) {
    span {
      display: block;
      background-color: rgba(0,112,255,0.8);
    }
  }
}
.epic {
  font-weight: bold;
  color: white;
  //border: 1px solid #B048F8;
  background-color: #B048F8;
  box-sizing: border-box;
  @media only screen and (min-width: 769px) {
    span {
      display: block;
      background-color: rgba(176,72,248,0.8);
    }
  }
}
.legendary {
  font-weight: bold;
  color: white;
  //border: 1px solid #ff8000;
  background-color: #ff8000;
  box-sizing: border-box;
  @media only screen and (min-width: 769px) {
    span {
      display: block;
      background-color: rgba(255,128,0,0.8);
    }
  }
}

/*--------------------- HEROES ---------------------*/

.generic {
  background-image: url(../images/mobile/generic.png);;
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/overwatch-full.jpg);
  }
 }

.orisa {
  background-image: url(../images/mobile/orisa.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/orisa-full.jpg);
  }
}

 .sombra {
  background-image: url(../images/mobile/sombra.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/sombra-full.jpg);
  }
}

.ana {
  background-image: url(../images/mobile/ana.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/ana-full.jpg);
  }
}

.bastion {
  background-image: url(../images/mobile/bastion.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/bastion-full.jpg);
  }
}
.dva {
  background-image: url(../images/mobile/dva.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/dva-full.jpg);
  }
}
.genji {
  background-image: url(../images/mobile/genji.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/genji-full.jpg);
  }
}
.hanzo {
  background-image: url(../images/mobile/hanzo.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/hanzo-full.jpg);
  }
}
.junkrat {
  background-image: url(../images/mobile/junkrat.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/junkrat-full.jpg);
  }
}
.lucio {
  background-image: url(../images/mobile/lucio.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/lucio-full.jpg);
  }
}

.mccree {
  background-image: url(../images/mobile/mccree.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/mccree-full.jpg);
  }
}

.mei {
  background-image: url(../images/mobile/mei.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/mei-full.jpg);
  }
}
.mercy {
  background-image: url(../images/mobile/mercy.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/mercy-full.jpg);
  }
}
.pharah {
  background-image: url(../images/mobile/pharah.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/pharah-full.jpg);
  }
}
.reaper {
  background-image: url(../images/mobile/reaper.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/reaper-full.jpg);
  }
}
.reinhardt {
  background-image: url(../images/mobile/reinhardt.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/reinhardt-full.jpg);
  }
}
.roadhog {
  background-image: url(../images/mobile/roadhog.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/roadhog-full.jpg);
  }
}
.soldier {
  background-image: url(../images/mobile/soldier.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/soldier-full.jpg);
  }
}
.symmetra {
  background-image: url(../images/mobile/symmetra.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/symmetra-full.jpg);
  }
}
.torbjorn {
  background-image: url(../images/mobile/torbjorn.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/torbjorn-full.jpg);
  }
}
.tracer {
  background-image: url(../images/mobile/tracer.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/tracer-full.jpg);
  }
}
.widowmaker {
  background-image: url(../images/mobile/widowmaker.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/widowmaker-full.jpg);
  }
}
.winston {
  background-image: url(../images/mobile/winston.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/winston-full.jpg);
  }
}
.zarya {
  background-image: url(../images/mobile/zarya.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/zarya-full.jpg);
  }
}
.zenyatta {
  background-image: url(../images/mobile/zenyatta.png);
  background-repeat: no-repeat;
  background-position: right;
  @media only screen and (min-width: 769px) {
    background-size: cover;
    background-position: center;
    background-image: url(../images/zenyatta-full.jpg);
  }
}

@media only screen and (max-width: 768px) {
  .generic, .bastion, .dva, .genji, .hanzo, .junkrat, .lucio, .mccree, .mei, .mercy, .pharah, .reaper, .reinhardt, .roadhog, .soldier, .symmetra, .torbjorn, .tracer, .widowmaker, .winston, .zarya, .zenyatta {
    background-size: 30%;
  }
}

/*--------------------- Dropdown menu ---------------------*/

#primary_nav_wrap {

  img {
    max-width: 24px;
  }

  li:first-child {
    padding-top: 12px;
  }
}

#primary_nav_wrap ul {
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul a {
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  line-height:32px;
  padding:0 15px;
}

#primary_nav_wrap ul li {
  position:relative;
  float:left;
  margin:0;
  padding:0;
  border-radius: 7px;
}

#primary_nav_wrap ul li.current-menu-item {
  background:#212121;
}

#primary_nav_wrap ul li:hover {
  background:#212121;
}

#primary_nav_wrap ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#212121;
  padding:0;
  border-radius: 7px;
}

#primary_nav_wrap ul ul li {
  float:none;
  &:hover {
    background:#111;
  }
}

#primary_nav_wrap ul ul a {
  line-height:120%;
  padding:10px 15px;
}

#primary_nav_wrap ul ul ul {
  top:0;
  left:100%;
}

#primary_nav_wrap ul li:hover > ul {
  display:block;
}