/*--------------------- Imports ---------------------*/

@import 'grids';
@import 'normalize';
@import 'heroes';

/*--------------------- Variables ---------------------*/

$font-stack: 'Ubuntu', sans-serif;
$header-stack: 'Ubuntu', sans-serif;

$radius: 0px;
$percentage: 20%;

$main: #2797e8;
$secondary: #ffaa00;

$btn-text-color: white;
$btn-bg-color: $main;

$yellow: #f99e1a;

/*--------------------- Text ---------------------*/

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }

/*--------------------- Links ---------------------*/

a {
  transition: ease-in 0.15s all;
  color: $main;
  text-decoration: none;
  &:visited { color: lighten($main, $percentage); }
  &:hover { color: lighten($main, $percentage); text-decoration: underline; }
  &:focus { color: darken($main, $percentage); }
}

/*--------------------- Alignment ---------------------*/

.left {text-align: left;}
.text-align--right {text-align: right;}
.center {text-align: center;}
.faint{opacity: 0.5;}

/*--------------------- Components ---------------------*/

.btn {
  padding: 10px 20px;
  border: 0px;
}

input, select {
  padding: 7px;
  border-radius: $radius / 2;
  border: 1px solid #ccc;
  outline: none;
  &:focus { outline: none; border: 1px solid $main; }
}

.shadow {
  box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
}