/*--------------------- IMPORTS ---------------------*/

@import 'variables';
@import 'snippets';
@import 'grids';
@import 'reset';

/*--------------------- GLOBAL ---------------------*/

body, html {
  height: 100%;
}

body {
  background-color: #e3e3e3;
  font-family: $font-stack;
  font-size: 14px;
  font-weight: 400;
  @media only screen and (min-width: 769px) {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

a {
  color: $blue;
  transition: ease-in 0.2s;
  &:hover {
    color: lighten($blue ,20%);
  }
}

h1, h2 {
  font-family: $header-stack;
  font-size: 2em;
}

h3 {
  font-family: $header-stack;
  font-size: 1.5em;
}

.center {
  text-align: center;
}

.logo {
  display: inline-block;
  &:hover {
    opacity: 0.85;
  }

  img {
    max-width: 200px;
    display: inline-block;
  }

  @media only screen and (max-width: 769px) {
    text-align: center;
    display: block;
  }
}

.sponsored {
  margin-top: 15px;
  img {
    max-width: 100%;
    border-radius: 3px;
  }
}

/*--------------------- CONTAINERS ---------------------*/

#itemlog.in-use {
  margin: 30px 0 10px;
  text-align: left;
  color: black;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  padding: 10px 30px 10px;
  li {
    opacity: 0.5;
  }

  &:after {
    position: absolute;
    top: -20px;
    right: 50%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent rgba(255, 255, 255, 0.3) transparent;
    @media only screen and (min-width: 769px) {
      right: 20%;
    }
  }
}

.stats{
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  color: black;
  p{
    padding-left: 0px;
    font-size: 11px;
    opacity: 0.5;
  }
}

.cwrapper {
  width: 100%;

  @media only screen and (min-width: 1200px) {
  max-width: 980px;
  margin: 0px auto;
  }
}
.content {
  background: #efefef;
  margin: 30px 0px;
  padding: 0px 25px 25px;
  border-radius: 3px;
  .content-wrap{
    padding: 5px 15px;
  }
}

.item-section {
  margin-top: 20px;
  min-height: 290px;

  @media only screen and (min-width: 769px) {
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 365px;
  }
}

.wrapper {
  width: 100%;

  @media only screen and (min-width: 769px) {
    max-width: 1250px;
    margin: 0px auto;
  }

  @media only screen and (min-width: 1367px) {
    max-width: 1400px;
    margin: 0px auto;
  }
}

.small-wrapper {
  width: 100%;
  max-width: 710px;
  margin: 0px auto;
  .btn {
    float: left;
    margin: 0px 20px 5px 0px;
    &:last-child {
      float: right;
      margin: 0px 0px 5px 20px;
    }
  }
}

.details {
  width: 100%;
  max-width: 580px;
  margin: 30px auto 0;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.25);
  p{
    text-align: left;
    padding: 0 10px;
    color: white;
  }
  input {
    width: 90%;
    padding: 10px 0;
  }
}

.grid--full > .grid__item.mobile-wrap {
  @media only screen and (max-width: 768px) {
    padding: 0px 5px;
  }
}

/*--------------------- ALERTS ---------------------*/

.alert {
  background-color:$blue;
  width: 100%;
  padding: 10px 0;
  color: white;
  font-weight: bold;
  text-align: center;
  position: relative;
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  p {
    margin: 0;
    a, a:visited, a:hover {
        color: white;
    }
  }
}

.note {
  background-color: rgba(0,0,0,0.3);
  border-radius: 3px;
  color: white;
  margin: 20px auto;
  font-size: 16px;
  padding: 8px 10px;

  @media only screen and (max-width: 768px) {
    font-size: 11px;
  }

  i {
    padding-right: 15px;
    font-size: 20px;
    vertical-align: middle;
  }

  a {
    color: white;
    &:hover {
      opacity: 0.7;
    }
  }
}

/*--------------------- NAVIGATION ---------------------*/

header {background: #212121;padding: 10px 0px;}
header a {text-decoration: none;}
header h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin: 0;

  @media only screen and (min-width: 769px) {
  text-align: left;
  }
}
nav {
  max-width: 1000px;
  margin: 0px auto;
  width: 100%;
}

.nav {
  padding-top: 5px;
  text-transform: uppercase;
  ul {float: right; list-style: none;}
  li {display: inline;}
  li a {
    color: white;
    padding: 0px 12px;
    text-decoration: none;
    font-weight: 600;
    float: left;
    line-height: 8px;
  }
  a:hover {
    color: darken(white, 50%);
  }
  li a.donate{
    color: $yellow;
    &:hover{
      color: darken($yellow, 20%);
    }
  }
}

.mobile {
  display: none;
  @media only screen and (max-width: 768px) {
    display: block;
  }
}

.mobile-nav {
  display: none;
  list-style: none;
  margin-left: 0;
  @media only screen and (max-width: 768px) {
    display: block;
    text-align: center;
    margin-left: 0;
    padding-left: 0;
    li {
      display: inline-block;
      text-align: center;
      padding: 0px 15px;
      a{
        color: #222;
        opacity: 0.3;
        &:hover {
          opacity: 0.15;
        }
      }
    }
  }
}

/*--------------------- BUTTONS ---------------------*/

.btn {
  padding: 10px 0px;
  width: 100%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin: 0px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
  transition: 0.2s ease all;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    color: white;
  }

  @media only screen and (min-width: 481px) {
    padding: 10px 75px;
    width: auto;
    margin: 0px 10px;
    border-radius: 3px;
  }
}

.fa {
    font-size: 0.7em;
    vertical-align: middle;
}

.blue {
  background: $blue;
}

.blue:hover {
  -webkit-box-shadow: 0px 0px 33px 0px rgba(0, 95, 255, 0.75);
  -moz-box-shadow: 0px 0px 33px 0px rgba(0, 95, 255, 0.75);
  box-shadow: 0px 0px 33px 0px rgba(0, 95, 255, 0.75);
  transition: ease-in-out all infinite 1.5s;
}

.blue:active {
  -webkit-box-shadow: 0px 0px 130px 20px rgba(0, 95, 255, 0.75);
  -moz-box-shadow: 0px 0px 130px 20px rgba(0, 95, 255, 0.75);
  box-shadow: 0px 0px 130px 20px rgba(0, 95, 255, 0.75);
  transition: ease-in-out all infinite 1.5s;
}

.yellow {
  background: $yellow;
}

.yellow:hover {
  -webkit-box-shadow: 0px 0px 33px 0px rgba(249, 158, 26, 0.75);
  -moz-box-shadow: 0px 0px 33px 0px rgba(249, 158, 26, 0.75);
  box-shadow: 0px 0px 33px 0px rgba(255, 158, 26, 0.75);
  transition: ease-in-out all infinite 1.5s;
}
.yellow:active {
  background: lighten($yellow, 30%);
  -webkit-box-shadow: 0px 0px 230px 20px rgba(249, 158, 26, 0.75);
  -moz-box-shadow: 0px 0px 230px 20px rgba(249, 158, 26, 0.75);
  box-shadow: 0px 0px 230px 20px rgba(255, 255, 55, 1);
}


/*--------------------- LOOT BOX ---------------------*/

#box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 200px;
  padding-bottom: 15px;
  @media only screen and (min-width: 769px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media only screen and (min-width: 1400px) {
    padding-top: 45px;
    padding-bottom: 45px;
  }

}

.shakebox {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*--------------------- LOOT CARDS ---------------------*/

#crate {
  list-style: none;
  padding: 0px;
  margin: 0px 5px;

  li {
    float: left;
    font-size: 12px;
    width: 48%;
    padding: 20px 0px;
    margin: 0px 1%;

    @media only screen and (min-width: 768px) {
      width: 31.333%;
    }

    @media only screen and (min-width: 1024px) {
      width: 18%;
    }

    img {
      max-width: 210px;
      width: 100%;
    }
  }
}

#item0 {
  -webkit-animation-delay: 0.1s; /* Chrome, Safari, Opera */
  animation-delay: 0.1s;
}

#item1 {
  -webkit-animation-delay: 0.2s; /* Chrome, Safari, Opera */
  animation-delay: 0.2s;
}

#item2 {
  -webkit-animation-delay: 0.4s; /* Chrome, Safari, Opera */
  animation-delay: 0.4s;
}

#item3 {
  -webkit-animation-delay: 0.6s; /* Chrome, Safari, Opera */
  animation-delay: 0.6s;
}

#item4 {
  -webkit-animation-delay: 0.8s; /* Chrome, Safari, Opera */
  animation-delay: 0.8s;
}

/*--------------------- Dropdown menu ---------------------*/

#primary_nav_wrap {

  img {
    max-width: 16px;
  }

  li:first-child {
    padding-top: 12px;
  }
}

#primary_nav_wrap ul {
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0;
  z-index: 9001;
}

#primary_nav_wrap ul a {
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:700;
  line-height:32px;
  padding:0 15px;
}

#primary_nav_wrap ul li {
  position:relative;
  float:left;
  margin:0;
  padding:0;
  border-radius: 7px;
}

#primary_nav_wrap ul li.current-menu-item {
  background:#111;
}

#primary_nav_wrap ul li:hover {
  background:#222;
}

#primary_nav_wrap ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#111;
  padding:0;
  border-radius: 7px;
}

#primary_nav_wrap ul ul li {
  float:none;
}

#primary_nav_wrap ul ul a {
  line-height:120%;
  padding:10px 15px;
}

#primary_nav_wrap ul ul ul {
  top:0;
  left:100%;
}

#primary_nav_wrap ul li:hover > ul {
  display:block;
}