<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="LootJunkie is a loot box simulator where you can open loot boxes for free!" />
    <meta name="keywords" content="overwatch,over watch,overwatch loot,overwatch loot box,simulator,overwatch simulator,overwatch loot simulator,overwatch loot box simulator,loot junkie,lootjunkie,loot junky, hearthstone,over watch,hearthstone loot,hearthstone loot box,simulator,hearthstone simulator,hearthstone loot simulator,hearthstone loot box simulator" />
    <meta name="robots" content="index,follows" />
    <link rel="icon" type="image/png" href="{{ "images/favicon.png" | relative_url }}">
    <title>{{ page.title }}</title>
    <link href="{{ "assets/style.css" | relative_url }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62106034-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1180080894503133",
        enable_page_level_ads: true
      });
    </script>

  </head>
  <body class="{{ page.handle }}">
    <header class="{{ page.handle }}">
      <div class="container grid grid--full">
          <div class="grid__item large--one-quarter medium-down--one-whole">
              <a class="logo__link" href="{{ "/" | relative_url }}">
                <img src="{{ "images/logo.svg" | relative_url }}">
              </a>
          </div>
          <div class="grid__item large--three-quarters  medium--one-whole small--hide">
              <ul>
                  <li><i class="js-volume material-icons is-on">volume_up</i></li>
                  <li><a href="https://twitter.com/lootjunkiexyz" target="_blank">Twitter</a></li>
                  <li><a href="{{ '/about' | relative_url }}">About</a></li>
              </ul>
          </div>
      </div>
    </header>

    <section class="news shadow {{ page.handle }}">
      <div class="container text-align--center">
        <div id="alert">
          <ul>
            <li>
              <p>Enjoying your time? Help us <a href="https://www.buymeacoffee.com/matouio" target="_blank">keep lootjunkie alive!</a></p>
            </li>
          </ul>
        </div>
      </div>
    </section>


    <div class="main container">
      <main role="main">
        {{content}}
      </main>
    </div>

    <footer class="footer text-align--center medium-down--show">
      <ul>
        <li><a href="https://twitter.com/lootjunkiexyz" target="_blank">Twitter</a></li>
        <li><a href="{{ '/about' | relative_url }}">About</a></li>
      </ul>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ "js/chance.min.js" | relative_url }}"></script>
    {% if page.handle == 'overwatch' %}
    <script src="{{ "js/ow-engine.min.js" | relative_url }}"></script>
    {% endif %}

  </body>
</html>

