.btn-wrap {
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  @include at-query($min, $large) {
    margin-top: 30px;
  }
}


.hearthstone {
  .btn {
    display: inline-block;
    margin: 5px 10px;
    background-image: url('../images/pack.png');
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(216px / 4);
    width: calc(160px / 4);
    transition: ease-in-out 0.5s all;
    border: 0;
    @include at-query($min, $large) {
      height: calc(216px / 2);
      width: calc(160px / 2);
      margin: 10px 20px;
    }
    &:hover {
      background-color: transparent;
      opacity: 0.6;
    }
    &.gvg {
      background-image: url('../images/packgvg.png');
    }
    &.kotft {
      background-image: url('../images/packkotft.png');
    }
    &.ungoro {
      background-image: url('../images/packungoro.png');
    }
    &.msog {
      background-image: url('../images/packmsog.png');
    }
    &.tgt {
      background-image: url('../images/packtgt.png');
    }
    &.wotog {
      background-image: url('../images/packwotog.png');
    }
  }
}


/* Cards
-------------------------------------------------*/

.list {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .flip {
    width: calc(33.333% - 20px);
    padding: 0 10px;
    display: inline-block;
    @include at-query($min, $large) {
      width: calc(20% - 20px);
    }
    img {
      width: 100%;
      transition: ease-in-out 0.3s all;
      &.back {
        -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0) );
        filter: drop-shadow(0px 0px 10px rgba(0,0,0,0));
      }
    }
    .COMMON {
      img.img-back:hover{
        -webkit-filter: drop-shadow(0px 0px 15px #fff );
        filter: drop-shadow(0px 0px 15px #fff);
        transform: scale(1.1) rotateY(-180deg);
      }
    }
    .RARE {
      img.img-back:hover{
        -webkit-filter: drop-shadow(0px 0px 15px #0070ff );
        filter: drop-shadow(0px 0px 15px #0070ff);
        transform: scale(1.1) rotateY(-180deg);
      }
    }
    .EPIC {
      img.img-back:hover{
        -webkit-filter: drop-shadow(0px 0px 15px #B048F8 );
        filter: drop-shadow(0px 0px 15px #B048F8);
        transform: scale(1.1) rotateY(-180deg);
      }
    }
    .LEGENDARY {
      img.img-back:hover{
        -webkit-filter: drop-shadow(0px 0px 15px #ff8000 );
        filter: drop-shadow(0px 0px 15px #ff8000);
        transform: scale(1.1) rotateY(-180deg);
      }
    }
  }
}

.flip {
  -webkit-perspective: 800;
    position: relative;
}
.flip .card.flipped {
  transform: rotateY(-180deg);
}
.flip .card {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transition: ease-in-out 1s all;
}
.flip .card .face {

  //position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  transform: rotateY(0deg);
}
.flip .card .back {
    cursor: pointer;
    transform: rotateY(-180deg);
}

img.img-front.COMMON, .flipped .COMMON img.img-back {
  -webkit-filter: drop-shadow(0px 0px 15px #fff );
  filter: drop-shadow(0px 0px 15px #fff);
}

img.img-front.RARE, .flipped .RARE img.img-back {
  -webkit-filter: drop-shadow(0px 0px 15px #0070ff );
  filter: drop-shadow(0px 0px 15px #0070ff);
}

img.img-front.EPIC, .flipped .EPIC img.img-back {
  -webkit-filter: drop-shadow(0px 0px 15px #B048F8 );
  filter: drop-shadow(0px 0px 15px #B048F8);
}

img.img-front.LEGENDARY, .flipped .LEGENDARY img.img-back {
  -webkit-filter: drop-shadow(0px 0px 15px #ff8000 );
  filter: drop-shadow(0px 0px 15px #ff8000);
}