.btn-wrap {
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  @include at-query($min, $large) {
    margin-top: 30px;
  }
}


.hearthstone {
  .main {
    padding-top: 30px;
  }

  .btn {
    display: block;
    padding: 5px 20px;
    width: 100%;
    transition: ease-in-out 0.5s all;
    cursor: pointer;
    border: 0;
    outline: none !important;
    &:active, &:focus {
      outline: none !important;
    }

    &:hover {
      background-color: transparent;
      opacity: 0.6;
    }
  }
}

.scoreText {
  padding-top: 40px;
}

.score {
  background: rgba(0,0,0,0.1);
  border-radius: 30px;
  padding: 10px 20px;
  color: #777;
  display: none;
  margin: 10px 0;
  .value {
    color: #fff;
    font-weight: bold;
  }
  .value--rare {color: #0070ff;}
  .value--epic {color: #B048F8;}
  .value--legendary {color: #ff8000;}
}


/* Cards
-------------------------------------------------*/

.list {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .flip {
    width: calc(33.333% - 0px);
    padding: 0;
    display: inline-block;
    @include at-query($min, $large) {
      width: calc(20% - 0px);
    }
    img {
      width: 100%;
      transition: ease-in-out 0.3s all;
      &.back {
        -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0) );
        filter: drop-shadow(0px 0px 10px rgba(0,0,0,0));
      }
    }
    .COMMON {
      img.img-back:hover{
        -webkit-filter: drop-shadow(0px 0px 15px #fff );
        filter: drop-shadow(0px 0px 15px #fff);
        transform: scale(1.1);
      }
    }
    .RARE {
      img.img-back:hover{
        -webkit-filter: drop-shadow(0px 0px 15px #0070ff );
        filter: drop-shadow(0px 0px 15px #0070ff);
        transform: scale(1.1);
      }
    }
    .EPIC {
      img.img-back:hover{
        -webkit-filter: drop-shadow(0px 0px 15px #B048F8 );
        filter: drop-shadow(0px 0px 15px #B048F8);
        transform: scale(1.1);
      }
    }
    .LEGENDARY {
      img.img-back:hover{
        -webkit-filter: drop-shadow(0px 0px 15px #ff8000 );
        filter: drop-shadow(0px 0px 15px #ff8000);
        transform: scale(1.1);
      }
    }
  }
}

.flip {
  -webkit-perspective: 800;
    position: relative;
}
.flip .card.flipped {
  transform: rotateY(-180deg);
}
.flip .card {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transition: ease-in-out 1s all;
}
.flip .card .face {

  //position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  transform: rotateY(0deg);
}
.flip .card .back {
    cursor: pointer;
    transform: rotateY(-180deg);
}

img.img-front.COMMON, .flipped .COMMON img.img-back {
  -webkit-filter: drop-shadow(0px 0px 15px #fff );
  filter: drop-shadow(0px 0px 15px #fff);
}

img.img-front.RARE, .flipped .RARE img.img-back {
  -webkit-filter: drop-shadow(0px 0px 15px #0070ff );
  filter: drop-shadow(0px 0px 15px #0070ff);
}

img.img-front.EPIC, .flipped .EPIC img.img-back {
  -webkit-filter: drop-shadow(0px 0px 15px #B048F8 );
  filter: drop-shadow(0px 0px 15px #B048F8);
}

img.img-front.LEGENDARY, .flipped .LEGENDARY img.img-back {
  -webkit-filter: drop-shadow(0px 0px 15px #ff8000 );
  filter: drop-shadow(0px 0px 15px #ff8000);
}