/*============================================================================
  Variables
==============================================================================*/

$viewportIncrement: 1px;

$prefix: item--;
$gutter: 5px;
$small: 480px;
$medium: 768px;
$large: 769px;

$postSmall: $small + $viewportIncrement;
$preMedium: $medium - $viewportIncrement;
$preLarge: $large - $viewportIncrement;

 /*============================================================================
  Mixins
==============================================================================*/

$breakpoints: (
  'small' '(max-width: #{$small})',
  'medium' '(min-width: #{$postSmall}) and (max-width: #{$medium})',
  'medium-down' '(max-width: #{$medium})',
  'large' '(min-width: #{$large})'
);

$min: min-width;
$max: max-width;
@mixin at-query ($constraint_, $viewport1_, $viewport2_:null) {
 $constraint: $constraint_; $viewport1: $viewport1_; $viewport2: $viewport2_;
  @if type-of($constraint_) == number {
    $viewport1 : $constraint_; $viewport2 : $viewport1_; $constraint : null;
  }
  @if $constraint == $min {
    @media screen and ($min: $viewport1) {
      @content;
    }
  } @else if $constraint == $max {
    @media screen and ($max: $viewport1) {
      @content;
    }
  } @else {
    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}

 /*============================================================================
  Grid
==============================================================================*/

.itty {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  [class^="item--"] {
    margin: 0 $gutter;
  }

  /* @Large */
  .#{$prefix}one-whole { width: calc(100% - #{$gutter}*2); }

  .#{$prefix}one-half { width: calc(50% - #{$gutter}*2); }

  .#{$prefix}one-third { width: calc(33.33333% - #{$gutter}*2); }
  .#{$prefix}two-thirds { width: calc(66.66666% - #{$gutter}*2); }

  .#{$prefix}one-quarter { width: calc(25% - #{$gutter}*2); }
  .#{$prefix}two-quarters { width: calc(50% - #{$gutter}*2); }
  .#{$prefix}three-quarters { width: calc(75% - #{$gutter}*2); }

  .#{$prefix}one-fifth { width: calc(20% - #{$gutter}*2); }
  .#{$prefix}two-fifths { width: calc(40% - #{$gutter}*2); }
  .#{$prefix}three-fifths { width: calc(60% - #{$gutter}*2); }
  .#{$prefix}four-fifths { width: calc(80% - #{$gutter}*2); }

  .#{$prefix}one-sixth { width: calc(16.66666% - #{$gutter}*2); }
  .#{$prefix}two-sixths { width: calc(33.33333% - #{$gutter}*2); }
  .#{$prefix}three-sixths { width: calc(50% - #{$gutter}*2); }
  .#{$prefix}four-sixths { width: calc(66.66666% - #{$gutter}*2); }
  .#{$prefix}five-sixths { width: calc(83.33333% - #{$gutter}*2); }

  /* @Medium */
  @media screen and (max-width: 768px) {
    .medium__#{$prefix}one-whole { width: calc(100% - #{$gutter}*2); }
    .medium__#{$prefix}one-half { width: calc(50% - #{$gutter}*2); }
    .medium__#{$prefix}one-third { width: calc(33.33333% - #{$gutter}*2); }
    .medium__#{$prefix}two-thirds { width: calc(66.66666% - #{$gutter}*2); }
  }

  /* @Small */
  @media screen and (max-width: 480px) {
    .mobile__#{$prefix}one-whole { width: calc(100% - #{$gutter}*2); }
    .mobile__#{$prefix}one-half { width: calc(50% - #{$gutter}*2); }
    .mobile__#{$prefix}one-third { width: calc(33.33333% - #{$gutter}*2); }
    .mobile__#{$prefix}two-thirds { width: calc(66.66666% - #{$gutter}*2); }
  }

}

.smallScreen--show {
  display: none !important;
  @media screen and (max-width: 768px) {
    display: block !important;
  }
}

.smallScreen--hide {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}